<div class="container">
    <mat-grid-list cols="1" rowHeight="4:2">
        <mat-grid-tile>
            <form class="members-form" [formGroup]="membersForm">
                <span *ngIf="isSaved">
                    <p>Saved Successfully</p>
                </span>
                <mat-form-field class="members-fields">
                    <input matInput formControlName="firstName" placeholder="First Name" required>
                    <mat-error>
                        First Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="members-fields">
                    <input matInput formControlName="lastName" placeholder="Last Name" required>
                    <mat-error>
                        Last Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="members-fields">
                    <input matInput formControlName="age" placeholder="Age" required>
                    <mat-error>
                        Age is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="members-fields">
                    <input matInput formControlName="phone" placeholder="Enter Phone" required>
                    <mat-error>
                        Phone Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="members-fields">
                    <input matInput type="email" formControlName="email" placeholder="EMail" required>
                    <mat-error>Email is <strong>required</strong></mat-error>
                </mat-form-field>

                <label id="example-radio-group-label">
                    <input type="radio" value="Male" formControlName="gender">
                      <span>male</span>
                  </label>
                  <label id="example-radio-group-label">
                    <input type="radio" value="Female" formControlName="gender">
                      <span>female</span>
                  </label>
                  <br>
                  <br>
                  <button mat-raised-button  (click)="onAddMembers()" style="margin-right: 10px;">
                    <mat-icon>add_box</mat-icon>
                  </button>
                  <button mat-raised-button>
                      cancel
                  </button>
                
            </form>

        </mat-grid-tile>
    </mat-grid-list>
</div>